<!DOCTYPE html>
<html lang="en">
<head>
<!--
Metro City Template
http://www.templatemo.com/tm-470-metro-city
-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DEREPO</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/css/templatemo-style.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<H2 >DEREPO: A DISTRIBUTED PRIVACY-PRESERVING DATA REPOSITORY WITH DECENTRALIZED ACCESS CONTROL FOR SMART HEALTH</H2><body >
	<div class="container">
		<div class="row">
			<div class="tm-header">
<!--		<a href="index.html" class="tm-site-name">	<MARQUEE>Cloud <spin style="color:yellow">Computing</spin></MARQUEE>	</a>-->
				<div class="mobile-menu-icon">
	              <i class="fa fa-bars"></i>
	            </div>
				<nav class="tm-nav">
					<ul>
						<li><a href="{{url_for('csphome')}}" >Home</a></li>
						<li><a href="{{url_for('req')}}" class="active">Requests</a></li>
						<li><a href="{{url_for('index')}}">Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="tm-banner">

		<div class="container">
              <center>	<div class="col-md-8" style="height:400px; width:1150px;">

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<b><h3 style="color:yellow"><div class="alert alert-{{ category }}">
						{{ message }}{{msg}}
					</div></h3></b>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %} {% endblock %}
 <table style="border: 1px solid rgb(240, 233, 233); width="600">
							<CENTER><h3 style="color:white;"><b>VIEW USERS REQUESTED FILES INFORMATION</b></h3></CENTER>
<br>
						<tr>

							<b><th style="color:rgb(186, 186, 165);border: 1px solid white; padding:5px;">Server Name</th>
							<th style="color:rgb(186, 186, 165);border: 1px solid white; padding:5px;">View Information</th></b>
						</tr>
                        {{first_event}} {{second_event}}

							{% for hist in hists %}
                        <tr>

                            <b><td style="color:#a74545; border: 1px solid rgb(245, 241, 241); padding: 5px;">{{ hist }}</td></b>
							{% if hists.index(hist)== 0 %}
								<b><td style="color:#9c7303; border: 1px solid rgb(218, 205, 205);padding: 5px;"><a href="{{ url_for('req1') }}">View Requests</a></td></b>
							{% elif hists.index(hist)== 1 %}
								<b><td style="color:#eb0707 ; border: 1px solid rgb(241, 235, 235);padding: 5px;"><a href="{{ url_for('req2') }}">View Requests</a></td></b>
							{% else %}
								<b><td style="color:#f54248 ; border: 1px solid rgb(242, 239, 239);padding: 5px;"><a href="{{ url_for('req3') }}">View Requests</a></td></b>

							{% endif %}

							</tr>
							  {% endfor %}
                    </table>
                        </center>
		   <br></div></center>
			<div class="row">

				<div class="tm-banner-text">
					<div class="tm-banner-text-inner">

					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
	<script type="text/javascript" src="static/js/templatemo-script.js"></script>      <!-- Templatemo Script -->

</body>
</html>
